---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&nbsp;&nbsp;&laquo; Previous</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">Next &raquo;&nbsp;&nbsp;</a>
  {% endif %}
</div>
